@using TesteFitcard.Infra.Strings;
@{
    var estabelecimentos = Model.Registros;
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>@Resource.Estabelecimentos<small> @Resource.Listagem</small></h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">

                    <a href="estabelecimento/cadastrar" title="@Resource.Cadastrar" class="btn btn-primary"><i class="fa fa-plus"> @Resource.Cadastrar</i></a>
                    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" name="termoBuscado" class="form-control" value="" placeholder="">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Buscar</button>
                            </span>
                        </div>
                    </div>

                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                        <thead>
                            <tr class="headings">
                                <th>@Resource.RazaoSocial</th>
                                <th>@Resource.NomeFantasia</th>
                                <th>@Resource.CNPJ</th>
                                <th>@Resource.DataCadastro </th>
                                <th>@Resource.DataAtualizacao</th>
                                <th>@Resource.Status </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var estabelecimento in estabelecimentos)
                            {
                                <tr class="even pointer">
                                    <td>@estabelecimento.RazaoSocial</td>
                                    <td>@estabelecimento.NomeFantasia</td>
                                    <td>@estabelecimento.Cnpj</td>
                                    <td>@estabelecimento.DataCadastro</td>
                                    <td>@estabelecimento.DataAtualizacao</td>
                                    <td>@Html.Raw(Mascaras.RetornaAtivoInativo(estabelecimento.Ativo))</td>
                                    <td>
                                        <a href="estabelecimento/detalhes/@estabelecimento.Id" title="@Resource.Detalhes" class="btn btn-xs btn-info"><i class="fa fa-search"></i></a>
                                        <a href="estabelecimento/editar/@estabelecimento.Id" title="@Resource.Editar" class="btn btn-xs btn-success"><i class="fa fa-edit"></i></a>
                                        <a href="#" title="@Resource.Excluir" class="btn btn-xs btn-danger btnExcluirEstabelecimento" id="btnExcluirEstabelecimento-@estabelecimento.Id" data-nome="@estabelecimento.RazaoSocial" data-url="estabelecimento/delete/@estabelecimento.Id">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
</div>
