<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Resource.Titulo</title>
    <!-- Bootstrap core CSS -->
    <link href="~/template-gentelella/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/template-gentelella/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/template-gentelella/css/animate.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/bootstrap-switch.min.css" />
    
    <!-- Custom styling plus plugins -->
    <link href="~/template-gentelella/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/template-gentelella/css/maps/jquery-jvectormap-2.0.3.css" />
    <link href="~/template-gentelella/css/icheck/flat/green.css" rel="stylesheet" />
    <link href="~/template-gentelella/css/floatexamples.css" rel="stylesheet" type="text/css" />
    <script src="~/template-gentelella/js/jquery.min.js"></script>
    <script src="~/template-gentelella/js/nprogress.js"></script>
</head>
@{
    var hoje = DateTime.Now;
}
<body class="nav-md">
    <div class="container body">

        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="Home" class="site_title"><i class="fa fa-paw"></i> <span>@Resource.Titulo</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="~/template-gentelella/images/img.jpg" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>John Doe</h2>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-edit"></i> @Resource.Cadastros<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li>
                                            <a href="/categoria">@Resource.Categorias</a>
                                        </li>
                                        <li>
                                            <a href="/estabelecimento">@Resource.Estabelecimentos</a>
                                        </li>                                        
                                    </ul>
                                </li>                         
                            </ul>
                        </div>
                     
                    </div>
                    <!-- /sidebar menu -->
                    
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">John Doe
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li>
                                        <a href="javascript:;">  Profile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Help</a>
                                    </li>
                                    <li>
                                        <a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>                            
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <!-- top tiles -->
                
                <!-- /top tiles -->
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        @Html.Raw(TempData["mensagem"])                       
                        
                        @RenderBody()
                        
                    </div>
                </div>
                <br />

                <!-- footer content -->
                <footer>
                    <div class="copyright-info">
                        <p class="pull-right">
                            @Resource.Titulo @hoje.Year
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
            <!-- /page content -->
        </div>
    </div>
    
    <script src="~/template-gentelella/js/bootstrap.min.js"></script>
   
    <!-- bootstrap progress js -->
    <script src="~/template-gentelella/js/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/template-gentelella/js/nicescroll/jquery.nicescroll.min.js"></script>
    <!-- icheck -->
    <script src="~/template-gentelella/js/icheck/icheck.min.js"></script>
    
    <script src="~/js/bootbox.min.js"></script>
    <script src="~/js/bootstrap-switch.js"></script>
    
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/maskedinput.js"></script>
    <script src="~/js/site.js"></script>
    
    <!-- JS específicos de cada CRUD -->
    <script src="~/js/categoria/categoria.js"></script>
    <script src="~/js/estabelecimento/estabelecimento.js"></script>
    <script src="~/js/categoria/formCategoria.js"></script>
    <script src="~/js/estabelecimento/formEstabelecimento.js"></script>
    
    <script src="~/template-gentelella/js/custom.js"></script>
    
    <!-- Datatables -->
    
    @*<script src="~/js/jquery.dataTables.min.js"></script>*@
    <script src="~/template-gentelella/js/datatables/js/jquery.dataTables.js"></script>
    <script src="~/template-gentelella/js/datatables/tools/js/dataTables.tableTools.js"></script>

    <!-- pace -->
    <script src="~/template-gentelella/js/pace/pace.min.js"></script>

    <!-- /footer content -->
</body>
</html>
